$green: #00a94f;
$green-exception: #00b555;
$green-alert: #33ba6a;

$light-blue: #55aced;
$light-blue-hover: #63b9f0;
$aqua: #14b8b8;

$orange: #ff9100;
$orange-hover: #ffa513;

$white: #fff;
$gray: #fafafa;
$gray-two: #f0f0f0;
$gray-three: #e5e5e5;
$gray-four: #9c9c9c;
$gray-five: #333;

$black: #000;

$red: #f25154;
$red-exception: #f14649;

$blue: #314a9f;
$purple: #8246a0;
$ambar: #ffa32c;
