.form-control {
  overflow: visible;
  display: block;
  width: 100%;
  padding: 0.975rem 1.25rem 0.8125rem;
  background-color: #fff;
  background-clip: padding-box;
  color: #333;
  border: 0.0625rem solid #e5e5e5;
  border-radius: 0.1875rem;
  outline: none;
  text-transform: initial;
  box-sizing: border-box;
}



.form-control:disabled {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
}


.label-form {
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 22px !important;
  letter-spacing: 0.02em !important;
  color: black;
  margin-bottom: 0.8rem;
  display: flex;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

input[type='text']:disabled {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
}
