/* You can add global styles to this file, and also import other style files */
@import 'colors.scss';
@import 'form-styles.scss';
@import 'buttons-styles.scss';

body{
  background-color: #F4F6F6 ;
  margin: 0;
  padding: 0;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jc-center{
  justify-content: center;
}

.jc-between{
  justify-content: space-between;
}

.al-center{
  align-items: center;
}

.mlr-4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.ptb-2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.prl-1{
  padding-right: 1rem;
  padding-left: 1rem;
}

.p-3 {
  padding: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-2{
  margin-right: 2rem;
}

.ml-1{
  margin-left: 1rem;
}

.ml-2{
  margin-left: 2rem;
}

.bold{
  font-weight: bold;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  padding: 0.5em;
}


tbody td {
  padding: 0.5em;
}


.card {
  background-color: white;
}


.router-link-active {
  background-color: #34495E;
  & span {
    color: white
  }
}

.w-50 {
  width: 50%;
}


.w-100 {
  width: 100%;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.w-400p{
  width: 400px;
}
